body {
    background-color:  black;
    color: white;
    }
#title {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}
.um {
    color: brown;
 }
  #dois {
    font-size: 20px;
  }   
    .cor {
      color: rebeccapurple;
  }
  .back {
      background-color: rebeccapurple;
  }
  .borda {
      width: 400px;
      margin-right: 10px;
      margin-bottom: 10px;
      border: 6px ridge rebeccapurple;
  }

.parte2 {
    align: justify;
}

@keyframes BackgroundTransition {
    0% {
		background-position: 0% 80%;
	}
	50% {
		background-position: 80% 100%;
	}
	100% {
		background-position: 0% 90%;
}
}

